.nav-bar{
  height: 90px;
  position: relative;
}

.nav-logo{
  margin-left: 100px;
  margin-right: 100px;
  height: 60px;
  width: 300px;
}

#logo-header{
  height: 60px;
  width: 300px;
  margin-top: 15px;
}

.nav-mid > span{
  margin-right: 40px;
}

.nav-login{
  position:absolute;
  right: 20px;
  top : 5px;
}

.nav-login > span{
  margin-left: 10px;
  font-size: 5px;
}

hr{
  background:whitesmoke;
    height:2px;
    border:2px;
}

.explanation{
  margin-top: 20px;
  margin-left: 100px;
  width: 760px;
}

.e1{
  font-size: 32px;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 30px;
  color:pink;
}
.e2{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
}
.e2 > a{
  color:skyblue;
}
.e3{
  font-size: 20px;
  font-weight: 800;
}

.experience{
  position: absolute;
  right: 140px;
  top:150px;
  width: 360px;
  height: 180px;
  background-color: yellow;
  line-height: 180px;
  text-align: center;
}

.showboard{
  background-color: black;
  height: 500px;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 60px;
  margin-bottom: 100px;
}

#temporary{
  height: 500px;
  width: 1000px;
  margin-left: 120PX;
}

.rabcex{
  height: 300px;
  background-color: black;
  margin-bottom: 100px;
}

#temporary004{
  height: 300px;
  width: 1000px;
  margin-left: 250PX;
}

.endex{
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 50px;
  color:grey
}